<div class="listing-item">
    <div class="title">
        <a href="/article?url={{encoded-url}}" class="article-title">{{title}}</a>
    </div>
    <div class="url"><a href="{{url}}" target="_blank">{{url}}</a></div>

    {{show-breadcrumb}}
        <div class="subject">
            <span class="breadcrumb">{{breadcrumb}}</span>
            <span class="important" title="Subject Relevance Score">({{score}})</span>
        </div>
    {{/show-breadcrumb}}

    <div class="info">
        {{show-file-size}}<div class="col">file size: <span class="val">{{file-size}}KB</span></div>{{/show-file-size}}
        {{show-words}}<div class="col">words: <span class="val">{{words}}</span></div>{{/show-words}}
        {{show-sentences}}<div class="col">sentences: <span class="val">{{sentences}}</span></div>{{/show-sentences}}
        {{show-important-words}}<div class="col">important words: <span class="important">{{important-words}}</span></div>{{/show-important-words}}
        {{show-years}}<div class="col">years: <span class="val">{{years}}</span></div>{{/show-years}}
    </div>
</div>
