.analyze {width:100%; text-align:center; padding:20px 0;
    .button{font-size:22px; padding:15px 30px;}
}
.analyze-article{
    & > .box{overflow-y:auto;}
    .console{font-family:monospace; font-size:17px; color:#75bad4;}
    .cli-line{line-height:1.25; padding:0 0 5px 0;}
}

.raw-html{
    & > .box{overflow:auto !important;}
}

.article-text{
    .font-1{font-size:17px;}
    .font-2{font-size:20px;}
    .font-3{font-size:24px;}
    .font-4{font-size:28px;}
    .font-5{font-size:32px;}
    .font-6{font-size:38px;}
}