<div class="accordion subjects" id="subjects{{parentId}}">
    <div class="title expanded">{{breadcrumbs}}</div>
    <div class="box expanded">
        <div class="box-list">
            {{subjects-list}}
        </div>
        <div class="selection">
            <div class="col pad-right"><a href="javascript:" class="button goback icon-undo2" title="View parent subjects"></a></div>
            <div class="label"></div>
            <div class="option"><a href="javascript:" class="button blue add-from-subject icon-plus" title="Add a Subject"></a></div>
            <div class="option"><a href="javascript:" class="button move-from-subject icon-reply" title="Move subject to another parent"></a></div>
        </div>
        <div class="option-box"></div>
    </div>
</div>
