.analyze {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
.analyze .button {
  font-size: 22px;
  padding: 15px 30px;
}
.analyze-article > .box {
  overflow-y: auto;
}
.analyze-article .console {
  font-family: monospace;
  font-size: 17px;
  color: #75bad4;
}
.analyze-article .cli-line {
  line-height: 1.25;
  padding: 0 0 5px 0;
}
.raw-html > .box {
  overflow: auto !important;
}
.article-text .font-1 {
  font-size: 17px;
}
.article-text .font-2 {
  font-size: 20px;
}
.article-text .font-3 {
  font-size: 24px;
}
.article-text .font-4 {
  font-size: 28px;
}
.article-text .font-5 {
  font-size: 32px;
}
.article-text .font-6 {
  font-size: 38px;
}
